.content{
    width: 100%;
    
    color: #070707;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

}

.content ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
    cursor: pointer;
}
.content ul li a:hover{
    color: #f5e507;
}

.cargo{
    font-size: 30px;
    padding-left: 30px;
}
.btn1{
background: #f5e507;
color: #fff;
border: none;
height: 40px;
width: 120px;
cursor: pointer;
outline: 0;
}
.btn2{
background: black;
color: #fff;
border: none;
height: 40px;
width: 120px;
cursor: pointer;
outline: 0;
}
.cago_imag{
    border-radius: 50%;
    width: 40px;
}
.nav{
    display: flex;
}
/* ...button nav........ */
content ul{
    width: 150px;
    height: 50px;
    /* background:rgb(221, 221, 215) ; */
    display: flex;
}
.content ul li a{
    position: relative;
    width: 150px;
    height: 50px;
    background: rgb(2, 2, 2);
    border: 2px solid rgb(248, 248, 248);
    display: inline-flex;
    font-size: 19px;
    color: rgb(3, 3, 3);
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}
.content ul li a{
    background: transparent;
    color: rgb(0, 0, 0);
}
.content ul li a::before{
    content: '';
    position: absolute;
    height: 50px;
    background: rgb(235, 201, 9);
    z-index: -1;
    transition: .5s;
    width: 0;
    top: 0;
    left: 0;
}
.content ul li a:hover::before{
    width: 150px;
}